<h3 class="text-center">List of Nearby Shops</h3>
<div></div>
<div >
  <div *ngFor="let shop of shops" class="col-sm-2">
    <div class="col-sm-12"><br/></div>
   <div><span class="badge">{{shop.name}}</span> </div>
    <div><img src={{shop.picture}} class="img-thumbnail col-sm-12" alt="Cinque Terre"></div>
    <button type="button" class="btn btn-danger col-sm-6 btn-sm">Dislike</button>
    <button type="button" class="btn btn-success col-sm-6 btn-sm"  (click)="onSelect(shop)">like</button>
  </div>
</div>
