



<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

    <a class="navbar-brand col-md-2" routerLink="/shops">ShopsApp</a>
    <div class="navbar-nav mr-auto mt-2 mt-lg-0 col-md-9">

      <div class="nav-item col-md-4">
        <a class="nav-link navbar-brand" routerLink="/shops">Neardy Shops</a>
      </div>
      <div class="nav-item col-md-4">
        <a class="nav-link navbar-brand" routerLink="/prefered-shops">My prefered shops</a>
      </div>
      <div class="nav-item active col-md-2">
        <a class="nav-link navbar-brand" routerLink="/">Sign in</a>
      </div>
      <div class="nav-item active col-md-2">
        <a class="nav-link navbar-brand" routerLink="/logup">Sign up</a>
      </div>
    </div>

  </div>
  <!-- Navbar content -->
</nav>
<!--<app-login-form></app-login-form>-->
<router-outlet></router-outlet>
<!--<app-shops-list></app-shops-list>-->
